*{
    transition: 0.1s;
}
body{
    background-image: url(img/woodendesk.jpg);
}
div {
    margin: 5px;
    padding: 10px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.3);
}

#container {
    width: 300px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border-radius: 5px;
    background-color: rgb(32, 32, 32);
}

#screen {
    width: 280px;
    height: 110px;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    border: 1px solid black;
}

#secondary,
#primary {
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: calculator-font;
    background-color: green;
}

#secondary {
    border-radius: 5px 5px 0px 0px;
    height: 50px;
    font-size: 35px;
    box-shadow: inset 2px 2px 8px 0px rgba(0, 0, 0, 0.178);
}

#primary {
    border-radius: 0px 0px 5px 5px;
    height: 56px;
    font-size: 45px;
    box-shadow: inset 2px -2px 8px 0px rgba(0, 0, 0, 0.178);
}

#primary>span {
    position: absolute;
    bottom: 0px;
    right: 3px;
    
}

#secondary>span {
    position: absolute;
    top: 0px;
    left: 3px;
}

.btn {
    width: 43px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
    cursor: pointer;
    background-color: beige;
}

.btn:active {
    margin: 6.5px;
    width: 40px;
    height: 37px;
    font-size: 27px;
    background: #e5e5e5;
}

#zero {
    width: 193px;
}

#zero:active {
    width: 190px;
}

.btn>* {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

@font-face {
    font-family: 'calculator-font';
    src: url('fonts/Digital7-rg1mL.ttf');
}